# Ignore build results
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache

# Logs
*.log

# Node/npm (nếu dùng Frontend chung source)
node_modules/
npm-debug.log*

# Secrets and user configs
appsettings.json
UserService.API/Credentials/*.json
SocialService.API/Credentials/*.json
*.nupkg
packages/
.nuget/

# Entity Framework migrations snapshot (nếu muốn)
*Migrations/*.Designer.cs
*Migrations/*ModelSnapshot.cs
SocialService.API/Credentials/*.json
